* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #effafa;
	color: #2c3a3a;
	width: 100%;
	font-family: "Spartan", sans-serif;
}
.contenido {
	margin: 25rem 1rem 40px 1rem;
}
@media screen and (min-width: 1200px) {
	.contenido  {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	body {
		margin-right: 20px;
	}
}

/* banner */
.cabecera {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	background-image: url("https://res.cloudinary.com/academia-geek-1/image/upload/v1647720688/Jobs%20listing/bg-header-mobile_c9cg9g.svg");
	background-color: hsl(180, 29%, 50%);
	padding: 5rem;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Tablero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80vw;
	margin: 20px auto;
	margin-top: -40px;
	padding: 0.5rem;
	background-color: hsl(180, 31%, 95%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
	cursor: pointer;
}
.lista-etiquetas {
	max-width: 65vw;
}
.etiqueta {
	margin-top: 10px;
	margin-left: 5px;
	color: hsl(180, 31%, 95%);
	background-color: hsl(180, 29%, 50%);
	padding: 10px;
	border-radius: 3px;
}



.limpiar {
	padding: 5px;
	margin-right: 0px;
	border-radius: 3rem;
	background-color: inherit;
	color: hsl(180, 29%, 50%);
}
.limpiar:hover {
	text-decoration: underline;
}
@media screen and (min-width: 1200px) {
	.cabecera {
		background-image: url("https://res.cloudinary.com/academia-geek-1/image/upload/v1647720641/Jobs%20listing/bg-header-desktop_jf6kts.svg");
		background-color: hsl(180, 29%, 50%);
	}

}






.cuerpo_tarjeta {
	display: grid;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 25px 12px;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: #fff;
	transition: all 0.2s;
}
.cuerpo_tarjeta:hover {
	transform: translateY(-0.2rem);
}
.cuerpo_tarjeta:first-child {
	margin-top: -300px;
}
.borde {
	border-left: 0.5rem solid hsl(180, 29%, 50%);
}
.posicion {
	font-weight: 700;
	margin-top: 3px;
	margin-bottom: 3px;
}
.posicion:hover {
	color: hsl(180, 29%, 50%);
	cursor: pointer;
}
.especificaciones {
	display: flex;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
}
.nombre {
	color: teal;
}

.new {
	font-size: 12.5px;
	border-radius: 3rem;
	color: hsl(180, 31%, 95%);
	background-color: hsl(180, 29%, 50%);
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0.5rem;
}
.featured {
	font-size: 12px;
	border-radius: 3rem;
	background-color: hsl(180, 14%, 20%);
	color: hsl(180, 31%, 95%);
	padding: 0.5rem;
	margin-bottom: 10px;
	margin-left: 5px;
}
.info-gris {
	color: grey;
	margin-top: 15px;
	margin-bottom: 15px;
}
.list {
	display: flex;
	margin-left: -15px;
}

.list li {
	margin-left: 25px;
	margin-right: 10px;
	font-size: 14px;
}

.list :first-child {
	list-style-type: none;
}

.filtro {
	display: grid;
	border-top: 1px solid hsl(180, 8%, 52%);
	padding: -40px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 5px;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
button {
	border: none;
	font-weight: 700;
	font-size: 15px;
	transition: all 0.2s;
}
button:focus {
	border: 1px solid hsl(180, 8%, 52%);
	outline: none;
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
button:hover {
	transform: translateY(-0.2rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.span {
	margin-top: 10px;
	margin-left: 0px;
	background-color: hsl(180, 31%, 95%);
	color: hsl(180, 29%, 50%);
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}
.span:hover {
	background-color: hsl(180, 29%, 50%);
	color: hsl(180, 31%, 95%);
}

@media only screen and (min-width: 1200px) {
	img {
		position: initial;
		margin: 20px;
		margin-right: -5rem;
	}
	.cuerpo_tarjeta {
		position: initial;
		display: grid;
		grid-template-columns: min-content 1fr 1fr 1fr;
		grid-gap: 7rem;
		/* box-shadow: 5px 5px 5px 5px rgba(180, 178, 178, 0.3), 5px 5px 5px rgba(180, 178, 178, 0.3); */
		margin-top: 10px;
		padding: 20px;
		width: 100%;
	}
	.caja {
		margin-top: 10px;
		padding-left: -20px;
		padding-right: 20px;
		width: 400px;
	}
	.filtro {
		display: flex;
		border-top: none;
		justify-content: center;
		align-items: flex-start;
		margin-top: 5px;
		margin-left: 10px;
	}
	button {
		margin-right: 10px;
		padding: 10px;
	}
}


